<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title The Home Depot | Atrapa las herramientas
        link(rel="shortcut icon" href="favicon.ico")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
        link(rel="stylesheet", href="app/app.css")
    body
        .urlerror Verifica tu URL e intenta de nuevo.
        .container
            header
                div.middlebar
                h1.animate__animated.animate__fadeInDownBig: img(src="app/thehomedepot.svg")
            //section.start.text-center.mt-2.animate__animated.animate__bounceIn
                p.small En caso de resultar ganador, por favor indica el certificado electrónico que quisieras ganar.
                h2.h1 Atrapa las Herramientas
                p Selecciona tu certificado de valor indicado
            section.mt-2
                .certificados.container
                    .start.text-center.mt-2.animate__animated.animate__bounceIn
                        p.small En caso de resultar ganador, por favor indica el certificado electrónico que quisieras ganar.
                        h2.h1 Atrapa las Herramientas
                        p Selecciona tu certificado de valor indicado
                    .row.justify-content-center.align-items-center.flex-wrap
                        - var cer = []
                        - cer.push(['xbox', 'Xbox', '$200'])
                        - cer.push(['xboxlive', 'Xbox Live', '$169'])
                        - cer.push(['playstation', 'PlayStation Store', '$10 USD'])
                        - cer.push(['spotify', 'Spotify Premium', '$100'])
                        - cer.push(['itunes', 'iTunes México (App Store)', '$200'])
                        - cer.push(['wow', 'Starbucks', '$250'])
                        - cer.push(['wow', "Dominos Pizza, Burger King, California Pizza Kitchen, PF Chang’s, Italianni's, Chili’s, The Cheesecake Factory, Vips y El Portón", '$250'])
                        - cer.push(['uber', 'Uber y UberEats', '$150'])
                        - cer.push(['amazon', 'Amazon', '$200'])
                        - cer.push(['facturafiel', 'FacturaFiel', '$200'])
                        - cer.push(['superdoctor', 'Súper Doctor', '$240'])
                        - cer.push(['cinepolis', 'Cinépolis Klic', '$200'])
                        - cer.push(['mixup', 'Mixup', '$200'])
                        - cer.push(['enviaflores', 'enviaflores.com', '$250'])
                        - cer.push(['gandhi', 'Librerías Gandhi', '$200'])
                        - cer.push(['puntosfutbol', 'Puntos Fútbol', '$200'])
                        each v in cer
                            .col-md-2.col-4: div(data=v[0] title=v[1]).certificado.animate__animated.animate__bounceIn
                                img(src="app/cert/"+v[0]+".png", alt="Itunes").img-fluid
                                div.valor #{v[2]}
                    //
                        .col-md-2.col-4: div(data="googleplay ").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-googleplay.png", alt="Google Play").img-fluid
                            div.valor $000
                        .col-md-2.col-4: div(data="uber").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-uber.png", alt="Uber").img-fluid
                            div.valor $000
                        .col-md-2.col-4: div(data="coppel").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-coppel.png", alt="Coppel").img-fluid
                            div.valor $000
                        .col-md-2.col-4: div(data="bestbuy").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-bestbuy.png", alt="Best Buy").img-fluid
                            div.valor $000
                    //.row.justify-content-center.align-items-center.flex-wrap
                        .col-md-2.col-4: div(data="nintendo").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-nintendo.png", alt="Nintendo").img-fluid
                            div.valor $000
                        .col-md-2.col-4: div(data="youtube").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-youtube.png", alt="YouTube").img-fluid
                            div.valor $000
                        .col-md-2.col-4: div(data="spotify").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-spotify.png", alt="Spotify").img-fluid
                            div.valor $000
                        .col-md-2.col-4: div(data="xbox").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-xbox.png", alt="XBox").img-fluid
                            div.valor $000
                        .col-md-2.col-4: div(data="blim").certificado.animate__animated.animate__bounceIn
                            img(src="app/c-blim.png", alt="Blim").img-fluid
                            div.valor $000
        //.container: section.row.comenzar
            .col-12.text-center: button.btncomenzar(disabled).animate__animated JUGAR

        .gamecontainer.hidden
            iframe()
        
        .gameend.hidden
            .text-center
                h1.animate__animated.animate__fadeInDownBig: img(src="app/thehomedepot.svg")
                div.h2 ¡Gracias por participar!
                div Si eres uno de los ganadores te contactaremos al correo electrónico o teléfono registrado.


        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/js-url/2.5.3/url.min.js")
        script.
            let certificate = null
            let sound = new Howl({src: ['app/coin.mp3']})
            let SurveyID = url('?SurveyID')
            $(document).ready(function () {
                
                if(SurveyID==undefined || SurveyID.length!=14){
                    $('.urlerror').addClass('active')
                    return false
                }

                //Select Certificate
                $('.certificado').click(function () {
                    $('.certificado.active').removeClass('active')
                    $('.certificado.animate__heartBeat').removeClass('animate__heartBeat')
                    $('.certificado.animate__bounceIn').removeClass('animate__bounceIn')
                    $('.certificado').removeClass('animate__delay-3s')
                    $('.certificado').removeClass('')
                    $(this).addClass('active animate__heartBeat')
                    sound.play()
                    certificate = $(this).attr('data')
                    if(certificate!=null){
                        //$('.btncomenzar').prop('disabled',false)
                        //$('.btncomenzar').addClass('animate__zoomIn')
                        $('.gamecontainer').removeClass('hidden')
                        $('iframe').attr('src', 'thd/index.html')
                        
                    }
                })
                $('.btncomenzar').click(function () {
                    $('.gamecontainer').removeClass('hidden')
                    $('iframe').attr('src', 'thd/index.html')
                })
            })

            function closeGame(){
                certificate=null
                $('.gamecontainer').addClass('hidden')
                $('iframe').attr('src', '')
            }

            window.addEventListener('message', function (ev){
                
                let thescore = JSON.parse(ev.data)


                if(thescore.score){
                    var finalscoreval = thescore.score._value
                    var tools = thescore.tools._children
                    var rocks = thescore.rocks._value
                    var toolstring = 'A='+tools.A._value+'&B='+tools.B._value+'&C='+tools.C._value+'&D='+tools.D._value+'&E='+tools.E._value+'&rocas='+rocks

                    $.ajax({
                        url: 'https://testing4.myblueengine.com/WebSiteHomeDepot/Services.aspx/SaveData',
                        data: JSON.stringify({ SurveyID: SurveyID, Certificate: certificate, Result: finalscoreval.toString(), Desglose: toolstring}),
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        type: "post",
                        success: function (response) {
                            setTimeout(function () {
                                //$('.gameend').removeClass('hidden')
                                window.location.href = 'https://homedepot.com.mx/'
                            }, 6000)
                        }, error: function (err){
                            console.log('Ocurrió un error')
                            console.log(err)
                        }
                    });
                } else {

                    closeGame()

                }

                    
                
            })